body {
	margin:0px;
	padding: 0px;
}

#landing {
	background-image: url(./assets/background-image.png);
	width:100vw;
	height: 100vh;
	margin-top: 0px;
	/* z-index: -1;
	position: absolute; */
}


#header {
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	margin-top: 2.9vh;
	height: 4.4vh;
	width: 95vw;
	
}
/* 18.1vh */
/* 18.5vh */
#logo {
	display: inline-block;
}

#layer{
	font-family: 'Source Serif Pro';
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	display: inline-block;
	margin-left: 0.25vw;
	margin-right: 55vw;

}

#navbar{
		border-right: solid 4px #383f43;
display: inline-block;
}

#navbar > a {
	display: inline-block;
	font-family: 'Source Serif Pro';
	  font-size: 13px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  color: #ffffff;
	  text-decoration: none;
}

#topbooks{
	margin-left: 4.2vw;
	margin-right: 4.3vw; 
}

#help {
	margin-left: 4.2vw;
	margin-right: 4.3vw;
}

#picture1 {
	display: inline-block;
}
#picture2 {
	display: inline-block;
}

#Content-bg {
	width: 94vw;
	height: 14vh;
	background-color: #ffffff;
  }

  #grid-navbar{
	  margin-left:12.3vw;
	  margin-right: 12.5vw;
	  margin-top: 7.5vh;
  }

  #popular {
	width: 3.5vw;
	height: 2.43vh;
	font-family: 'Source Serif Pro';
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #24292c;
  }

  #month {
	width: 5.2vw;
	height: 2.4vh;
	font-family: 'Source Serif Pro';
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #24292c;
  }


