body {
	margin:0px;
	padding: 0px;
}

#landing {
	background: url(./assets/background-image.png) no-repeat;
	background-position: center top;
	background-color: #f2f5f7;
	background-size: 99vw;
	height: 127vh;
	margin-top: 0px;
}


#header {
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	padding-top: 3.9vh;
	height: 4.4vh;
	width: 95vw;
	
}
/* 18.1vh */
/* 18.5vh */
#logo {
	display: inline-block;
    width: 23px;
  	height: 19px;
    vertical-align: middle;
}

#layer{
	font-family: 'Source Serif Pro';
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	display: inline;
	margin-left: 1.1vw;
	margin-right: 49vw;
    vertical-align: middle;

}

#navbar{
	border-right: solid 2px #383f43;
	display: inline;
    vertical-align: middle;
}

#navbar > a {
	font-family: 'Source Serif Pro';
	  font-size: 13px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  color: #8798a4;
	  text-decoration: none;
}

#topbooks{
	margin-left: 4.2vw;
	margin-right: 4.3vw; 
}

#help {
	margin-left: 4.2vw;
	margin-right: 4.3vw;
}

#picture1 {
	display: inline-block;
	margin-left: 3.06vw;
	margin-right: 0.28vw;
}
#picture2 {
	display: inline-block;
}

h1 {
	margin-top: 16.74vh;
	font-family: 'Source Serif Pro';
	  font-size: 36px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  text-align: center;
	  color: #ffffff;
}

h2 {
	opacity: 0.5;
  font-family: 'Source Serif Pro';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

#Content-bg {
	width: 94vw;
	height: 136vh;
	background-color: #ffffff;
	z-index: 1;
	position: absolute;
	top:57vh;
	right:2.8vw;
 }

  #grid-navbar{
	  margin-left:12.3vw;
	  margin-right: 12.5vw;
	  margin-top: 7.5vh;
  }


  #popular {
	width: 3.5vw;
	height: 2.43vh;
	font-family: 'Source Serif Pro';
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #24292c;
	text-decoration: none;
  }

  #month {
	width: 5.2vw;
	height: 2.4vh;
	font-family: 'Source Serif Pro';
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #24292c;
	text-decoration: none;
	margin-left: 3.0vw;
  }
   .right:hover{
	  border-bottom: solid 1px #c2327f;
	  padding-bottom: 1.2vh;
   }

  #all {
	width: 1.3vw;
	height: 2.4vh;
	font-family: 'Source Serif Pro';
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #c2327f;
	text-decoration: none;
	margin-left: 18vw;
	margin-right: 0.6vw;
	
  }

  
  #free {
	width: 4.3vh;
	height: 2.4vh;
	font-family: 'Source Serif Pro';
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #24292c;
	text-decoration: none;
	margin-left: 0.6vw;
	margin-right: 0.6vw;
	
  }

  #photo {
	width: 4.7vw;
	height: 2.4vh;
	font-family: 'Source Serif Pro';
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #24292c;
	text-decoration: none;
	margin-left: 0.6vw;
	margin-right: 0.6vw;
  }

  #sketch {
	width: 2.9vw;
	height: 2.4vh;
	font-family: SourceSerifPro;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #24292c;
	text-decoration: none;
	margin-left: 0.6vw;
	margin-right: 0.6vw;
  }

  #after {
	width: 5.5vw;
	height: 2.4vh;
	font-family: 'Source Serif Pro';
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.75;
	letter-spacing: normal;
	text-align: right;
	color: #bdbebf;
	text-decoration: none;
	margin-left: 0.6vw;
	margin-right: 0.6vw;
	position: absolute;
	display: inline;
  }


  #small{
	font-size: 11px;
	line-height: 1.09;
	color: #c2327f;
	position: relative;
	bottom: 0;
	right: 0;
  }

  #text{
	font-size: 11px;
	line-height: 1.09;
	color: #c2327f;
	position: relative;
	bottom: 0;
	right: 0;
  }

  #illustrator {
	width: 4.5vw;
	height: 2.4vh; 
	font-family: 'Source Serif Pro';
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.75;
	letter-spacing: normal;
	text-align: right;
	color: #bdbebf;
	text-decoration: none;
	margin-left: 0.6vw;
	margin-right: 0.6vw;
	position: absolute;
	 display: inline; 
	
  }

.elements{
	margin-top: 2.38vh;
	margin-left: 1.34vw;
}

h3 {
	font-family: 'Source Serif Pro';
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #24292c;
  margin-bottom: 4px;
}

.elements > p {
	 font-family: 'Source Serif Pro';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8798a4;
  margin-top: 0;
  margin-bottom: 1.43vh;
}

.reviews > img {
	vertical-align: middle;
}

.reviews > p {
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: underline;
  font-family: 'Source Serif Pro';
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c2327f;
  display: inline-block;
}

.reviews {
  
}

#lastdiv {
	height: 93.5vh;
	background-color: #f2f5f7;
}

svg {

}

#polygon {
	fill:#0b0414;
}

.flex-container{
	display: flex;
	justify-content: center;
	margin-top : 19.4vh;
	flex-wrap: wrap;
	align-content: space-between;
	
}

.flex-container > div{
	width: 21.13vw;
    height: 47.5vh;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(135, 152, 164, 0.3);
	margin-right: 35px;
	margin-bottom: 50px; 	
 
}

.flex-container > div > img {
	width: 21.13vw;
}


